<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Attitude Système</title>
  <link rel="stylesheet" type="text/css" href="css/attitude.css">
  <script type="text/javascript" src="js/cfg.js"></script>
  <script type="text/javascript" src="js/connexions.js"></script>
  <script type="text/javascript" src="js/grid.js"></script>
  <script type="text/javascript" src="js/chat.js"></script>
  <script type="text/javascript" src="js/content.js"></script>
  <script type="text/javascript">

    function HideSplashScreen(){
      var splashElt = document.getElementById('splash_screen');
      splashElt.style.display = "none";
    };

    function ShowSplashScreen(){
      var formElt = document.getElementById('splash_screen_form_select_game');
      for (var eltIdx in formElt.elements){
        var elt = formElt.elements[eltIdx];
        elt.disabled = false;
      }
      formElt = document.getElementById('splash_screen_form_create_game');
      for (var eltIdx in formElt.elements){
        var elt = formElt.elements[eltIdx];
        elt.disabled = false;
      }
      var splashElt = document.getElementById('splash_screen');
      splashElt.style.display = "block";
    };

    function DisableSplashScreen(formElt){
      for (var eltIdx in formElt.elements){
        var elt = formElt.elements[eltIdx];
        elt.disabled = true;
      }
    };

    function FindOption(selectElt, value){
      for(var iOption=0; iOption<selectElt.options.length; ++iOption){
        var option = selectElt.options[iOption];
        if(option.value == value)
          return option;
      }
      return null;
    };

    function InitGamesList(json){
      var selectGameElt = document.getElementById('game_list');
      json.games.forEach(function (game, idx){
        var option = document.createElement('OPTION');
        option.value = game;
        option.innerText = game+' en cours';
        option.dataset.online = true;
        selectGameElt.appendChild(option);
      });
      json.savedGames.forEach(function (game, idx){
        var option = FindOption(selectGameElt, game);
        if(option == null){
          option = document.createElement('OPTION');
          option.value = game;
          option.innerText = game;
          option.dataset.online = false;
          selectGameElt.appendChild(option);
        }
      });
      var roleElt = document.getElementById('role');
      ChangeRole(roleElt);
      var gameElt = document.getElementById('game_list');
      ChangeGame(gameElt);
    }

    function AdaptDOMElementsToClass(baseClass, noDisplayClass) {
      if(baseClass != ''){
        var eltsToReset = document.getElementsByClassName(baseClass);
        for (var iElt=eltsToReset.length-1; iElt>=0; --iElt) { eltsToReset[iElt].classList.remove('no_display'); }
      }
      if (noDisplayClass != '') {
        var eltsToHide = document.getElementsByClassName(noDisplayClass);
        for (var iElt=eltsToHide.length-1; iElt>=0; --iElt) { eltsToHide[iElt].classList.add('no_display'); }
      }
    }

    function InitScreen(json){
      console.log("Connected!");
      HideSplashScreen();
    }

    function ChangeRole(selectElt) {
      var role = selectElt.value;
      var gameElt = document.getElementById('game_list');
      var optionCreateElt = FindOption(gameElt, 'create');
      if(role == 'dramaturge'){
        if(optionCreateElt){
          optionCreateElt.selected = true;
          optionCreateElt.disabled = false;
        }
      }else if(role != 'dramaturge'){
        if(optionCreateElt){
          if(optionCreateElt.selected)
            gameElt.selectedIndex = 0;
          optionCreateElt.disabled = true;
        }
      }
      AdaptDOMElementsToClass('role', 'no_'+role);
      ChangeGame(gameElt);
    }

    function ChangeGame(selectElt) {
      var game = selectElt.value;
      if(game!='create')
        AdaptDOMElementsToClass('game', 'no_game');
      else
        AdaptDOMElementsToClass('game', '');
    }

    function ConnectGame(formElt) {
      var type = formElt['type'].value;
      var gameName = formElt['game_name'].value;
      if(gameName == ''){
        alert('Il faut choisir une partie !')
        return false;
      }
      var pseudo = formElt['pseudo'].value;
      if(pseudo == ''){
        if(type == 'observer') pseudo = 'Observer';
        else if(type == 'dramaturge') pseudo = 'Dramaturge';
        else {
          alert('Vous devez indiquer un Pseudo');
          formElt['pseudo'].focus();
          return false;
        }
      }
      var newGameName = formElt['new_game_name'].value;
      if(newGameName != '' && type == 'dramaturge') gameName = newGameName;
      var listeners = [
        {'msg':'init', 'callback':InitScreen},
        {'msg':'init', 'callback':InitChat},
        {'msg':'init', 'callback':InitContent},
        {'msg':'init', 'callback':InitGrid}
      ];
      DisableSplashScreen(formElt);
      CONNEXION.createGame(pseudo, type, gameName, listeners);
      return false;
    }

    window.addEventListener("load", function(event) {
      CONNEXION.addListener('games_list', InitGamesList);
      CONNEXION.connectTo(document.domain, function (){
        var btnElt = document.getElementById('button_connect');
        if(btnElt != null){
          btnElt.disabled = false;
          btnElt.setAttribute('value', "OK");
        }
      });
    });

  </script>
</head>
<body>
<div class="grid_wrapper">
  <header class="role no_observer"><span id="Type"></span> [<span id="Pseudo"></span>] <span id="Chrono"></span><br>
    <table id="Grids" class="role no_observer no_player">
      <tr><td class="grids_header">Pseudo</td></tr>
    </table>
  </header>
  <aside class="role no_observer">
    <div class="grille role no_dramaturge"><img id="grid_stealth" class="no_display" src="img/stealth_2.svg"/><object id="Grille" type="image/svg+xml" data="img/grille_xml.svg"></object></div>
    <div class="box role no_player" width="100%">
      <div id="Contenu"><span id="url_actuelle"></span><br><input type="text" id="url_nouvelle"><button onclick="SendContentURL(this, CONNEXION)">Send</button></div>
    </div>
    <iframe class="role no_player no_observer content" frameborder="1" src=""></iframe>
    <div class="box" width="100%">
      <div id="Personnes"></div>
    </div>
    <div class="chat">
      <div class="box">
        <div id="Message" contentEditable="true"></div>
        <div id="SendBtn" onclick="SendMessage(CONNEXION)">Send</div>
      </div>
      <div id="History" class="box">
      </div>
    </div>
  </aside>
  <article><iframe class="role no_dramaturge content" frameborder="0" src=""></iframe></article>
</div>
  <div id="splash_screen" class="splash_screen">
    <div>
      <h1>Bienvenue dans le système de gestion de parties "Attitude".</h1>
      <form id="splash_screen_form" onsubmit="return ConnectGame(this);">
        <p>Choisissez un rôle <select id='role'name="type" autofocus onchange="ChangeRole(this)"><option value="player">Joueur</option><option value="observer">Observateur</option><option value="dramaturge">Dramaturge</option></select></p>
        <p>Puis sélectionnez une partie <select id="game_list" name="game_name" onchange="ChangeGame(this)"><option disabled selected value> -- Choisir une Partie -- </option><option disabled value='create'>Créer une partie</option></select></p>
        <p class="role no_player no_observer game no_game">ou créer une nouvelle partie <input type="text" name="new_game_name" autofocus/></p>
        <p class="role no_observer">Choisissez un pseudo <input type="text" name="pseudo" autofocus/></p>
      <input type="submit" disabled id="button_connect" value="Connecting..."></form><br/>
    </div>
  </div>
</body>
</html>
